manifest {
    homePage = 'https://gitlab.com/s.senkin/MSA'
    description = 'Mutational signature attribution with confidence intervals based on simulations'
    mainScript = 'run_auto_optimised_analysis.nf'
}

profiles {
  conda {
    conda.enabled = true
    process.conda = "${projectDir}/environment.yml"
  }
  docker {
    docker.enabled = true
    docker.runOptions = runOptions = "-u \$(id -u):\$(id -g) -v ${launchDir}:${launchDir} -v ${params.output_path}:${params.output_path} -e MPLCONFIGDIR=/tmp/matplotlib -e XDG_CACHE_HOME=/tmp"
    process.container = 'ssenkin/msa:amd64'
  }
  singularity {
    singularity.enabled = true
    process.container = 'library://ssenkin/default/msa:v2.1'
  }
  test {
    params {
      dataset = 'SIM_test'
      mutation_types = ['SBS', 'DBS', 'ID']
      number_of_bootstrapped_samples_in_optimisation = 10
      number_of_bootstrapped_samples = 10
      number_of_simulated_samples = 10
      weak_thresholds = [0, 0.01, 0.02]
      strong_thresholds = [0]
      signature_prefix = 'sigTest'
    }
  }
}

process {
    shell =  ['/bin/bash','-o','pipefail']
}

process {
    beforeScript = 'mkdir -p /tmp/matplotlib /tmp/fontconfig'
    environment = [
        'MPLCONFIGDIR': '/tmp/matplotlib',
        'XDG_CACHE_HOME': '/tmp'
    ]
}

timeline {
  enabled = true
  overwrite = true
  file = "${launchDir}/nf-pipeline_info/MSA-nf_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "${launchDir}/nf-pipeline_info/MSA-nf_report.html"
}

trace {
  enabled = true
  overwrite = true
  file = "${launchDir}/nf-pipeline_info/MSA-nf_trace.txt"
}

dag {
  enabled = true
  overwrite = true
  file = "${launchDir}/nf-pipeline_info/MSA-nf_dag.html"
}
