manifest {
    homePage = 'https://gitlab.com/s.senkin/MSA'
    description = 'Mutational signature attribution with confidence intervals based on simulations'
    mainScript = 'run_auto_optimised_analysis.nf'
}

profiles {
  conda {
    conda.enabled = true
    process.conda = "$baseDir/environment.yml"
  }
  docker {
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
    process.container = 'ssenkin/msa:v2.1'
  }
  singularity {
    singularity.enabled = true
    process.container = 'library://ssenkin/default/msa:v2.1'
  }
}

process {
    shell =  ['/bin/bash','-o','pipefail']
}

params.output_path = "."

timeline {
  enabled = true
  overwrite = true
  file = "${params.output_path}/nf-pipeline_info/MSA-nf_timeline.html"
}

report {
  enabled = true
  overwrite = true
  file = "${params.output_path}/nf-pipeline_info/MSA-nf_report.html"
}

trace {
  enabled = true
  overwrite = true
  file = "${params.output_path}/nf-pipeline_info/MSA-nf_trace.txt"
}

dag {
  enabled = true
  overwrite = true
  file = "${params.output_path}/nf-pipeline_info/MSA-nf_dag.html"
}
